<div class="downlaod wd-300">
	<div class="ser_title">
		<b class="l">下载消息</b>
		<i class="glyphicon glyphicon-remove-circle fr glyphicon-font mt-10 mr-10" ng-click="$hide();" style="color: #C2CBDB;"></i>
	</div>
	<div style="color: white; border: 0; position: absolute; right: 6px; top: -14px;">
		<img ng-src="images/triangle.png"/>
	</div>
	<div class="ser_txt" style="padding: 10px;text-align: left;">
		<div class="text">
			导出任务创建成功，请稍后到<a id="dialog"
				data-ui-sref="{{platformUrl}}/excelExport" ng-click="$hide();">探索-数据下载</a>页面下载您需要的附件。
		</div>
	</div>
</div>	