.calendarForm{
	padding: 5px;
}
.DatePicke {
	width: 560px;
	z-index: 899;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
	border-radius: 5px;
}

.TD_Calendar_wrapper {
	float: left;
	width: 50%;
}

.DatePicke_tool {
	padding: 10px;
	background: #707787;
	color: #fff;
	font-size: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.DatePicke_tool input {
	width: 155px;
	border: 0;
	background: #fff;
	border-radius: 1px;
	vertical-align: middle;
	height: 22px;
	padding: 0 0 0 30px;
	line-height: 22px;
}

.DatePicke_tool_bar , .DatePicke_contarst{
	position: relative;
}

.date_icon {
	width: 15px;
	height: 14px;
	background: url(../images/date_icon.png) no-repeat;
	display: inline-block;
	position: absolute;
	left: 60px;
	top: 6px;
	background-position: 0 -36px;
}

.date_icon.date_icon_red{
	background-position: 0 -50px;
}

.DatePicke_content:after,
.DatePicke_operation:after,
.DatePicke_wrappper_content:after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.DatePicke_operation {
	font-size: 12px;
	background: #f5f6f8;
	padding: 10px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.DatePicke_operation_l {
	float: left;
	display: inline;
	margin: 5px 0 0 10px;
}

.DatePicke_operation_l input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url(../images/date_icon.png) no-repeat;
}

.DatePicke_operation_l input[type=checkbox]:checked {
	background-position: 0 -18px;
}

.DatePicke_operation_l label {
	margin-left: 6px;
	position: relative;
	top: -4px;
	cursor: pointer;
}

.DatePicke_operation_r {
	width: 180px;
	float: right;
	display: inline;
	margin-right: 10px;
}

.DatePicke_operation_r a ,.DatePicke_operation a{
	display: inline-block;
	width: 68px;
	margin: 0 10px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	float: right;
}

.DatePicke_operation_r .DatePicke_confirm ,.DatePicke_operation .TD_WeekPicke_Confirm {
	border: 1px solid transparent;
	box-shadow: 0 0px 0 #72a7f7 inset;
	background: #e14441;
	color: #fff;
}

.DatePicke_operation_r .DatePicke_confirm:hover ,.DatePicke_operation .TD_WeekPicke_Confirm:hover{
	background: #ca3633;
}

.DatePicke_operation_r .DatePicke_cancel ,.DatePicke_operation .TD_WeekPicke_cancle {
	border: 1px solid transparent;
	box-shadow: 0 0px 0 #fff inset;
	color: #535b68;
	background: #fff;
}

.DatePicke_operation_r .DatePicke_cancel:hover ,.DatePicke_operation .TD_WeekPicke_cancle:hover {
	background: #dadada;
}

.DatePicke_tools_datetype {
	margin-left: 5px;	
	/*float: left;*/
}

.DatePicke_tool_shortcut a,
.DatePicke_contarst a {
	color: #fff;
	margin: 0 4px;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;	
}

.DatePicke_tools_datetype a{
	color: #fff;
	padding: 0 12px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #949bab;
	margin-left: -1px;
}

.DatePicke_tools_datetype .choose,.DatePicke_tools_datetype a.choolse{
	background: #4f5668;
}

.DatePicke_tool_shortcut .choose,
.DatePicke_contarst .choose ,.choolse{
	background: #4e5668;
}

.DatePicke_tool_shortcut a.disable,
.DatePicke_tools_datetype a.disable {
	cursor: default;
	background: none;
	color: #777
}

.DatePicke_tool_shortcut{
	float: right;
}

.DatePicke_tool_shortcut[data-type="DatePicke_shortcut"]{
	float: inherit;
}

.DatePicke_tool_bar label,
.DatePicke_contarst label {
	width: 55px;
	text-align: left;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}

.calen_con_rank {
	position: relative;
}

.DatePicke_contarst a {
	color: #fff;
}

.DatePicke_wrappper_content {
	border: #ccc solid 1px;
	margin: 10px
}

.DatePicke_contrast_one,
.DatePicke_contrast_tow {
	width: 50%;
	float: left;
}

.DatePicke_contrast_one .TD_Calendar,
.DatePicke_contrast_tow .TD_Calendar {
	border: 1px solid #ccc;
	margin: 10px 10px 10px 10px;
	width: auto;
	border-radius: 5px;
}

.DatePicke_contrast_one .TD_Calendar_header {
	background: #e14441;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.DatePicke_contrast_tow .TD_Calendar_header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #707787;
	color: #fff;
}

.DatePicke_contrast_one .TD_Calendar_day_choose,
.TD_Calendar_day_choose {
	background: #c9ceda;
	color: #fff;
}

.DatePicke_contrast_tow .TD_Calendar_day_choose {
	background: #c9ceda;
}

.DatePicke_contrast_one .TD_Calendar_next,
.DatePicke_contrast_tow .TD_Calendar_next {
	border-left-color: #fff;
}

.DatePicke_contrast_one .TD_Calendar_pre,
.DatePicke_contrast_tow .TD_Calendar_pre {
	border-right-color: #fff;
}


/*rank 月排行*/

.DatePicke_contarst {
	margin-top: 5px;
}

.TD_Calendar_day_list:after {
	clear: both;
	display: block;
	height: 0px;
	content: '';
}

.TD_Calendar_day_list i {
	display: block;
	width: 100%;
	height: 100%;
}

.TD_Calendar .TD_Calendar_day_disable {
	color: #ccc;
	cursor: auto
}

.TD_Calendar_day_list .TD_Calendar_day_preM,
.TD_Calendar_day_list .TD_Calendar_day_nextM {
	color: #C2C0C0;
}

.TD_Calendar_header {
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
	background: #F7F9FB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #ccc;
}

.TD_Calendar {
	float: left;
	width: 100%;
	font-size: 12px;
	border: solid 1px #ccc;
	border-radius:5px;
	margin-bottom: 5px;
}

.TD_Calendar_pre,
.TD_Calendar_next {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	text-indent: 9999em;
	position: absolute;
	top: 10px;
	cursor: pointer;
	border: transparent 5px solid;
}

.TD_Calendar_pre {
	left: 10px;
	border-right: #515767 solid 6px;
}

.TD_Calendar_next {
	right: 10px;
	border-left: #515767 solid 6px;
}

.TD_Calendar_week {
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
}

.TD_Calendar_week em,
.TD_Calendar_day_list span {
	display: inline-block;
	float: left;
	text-align: center;
	height: 25px;
	position: relative;
	line-height: 30px;
	width: 14.28%;
	cursor: pointer;
}

.TD_Calendar_day_list span em {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	right: 3px;
	top: 3px;
	background: #679fef;
	text-indent: 999em;
	overflow: hidden;
}

.TD_MonthPicke {
	float: left;
	width: 50%;
	font-size: 12px;
	font-family: Arial
}

.TD_MonthPicke_Frame {
	width: 558px;
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.TD_MonthPicke_header {
	position: relative;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-weight: 700;
	background: #F5F6F8;
	border-bottom: #ccc solid 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.TD_MonthPicke_next,
.TD_MonthPicke_pre {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	text-indent: 9999em;
	position: absolute;
	top: 12px;
	cursor: pointer;
	border: 6px solid transparent
}

.TD_MonthPicke_pre {
	left: 0;
	border-right: #333 solid 6px
}

.TD_MonthPicke_next {
	right: 0;
	border-left: #333 solid 6px
}

.TD_MonthPicke_next:hover {
	border-left-color: #6193DD
}

.TD_MonthPicke_pre:hover {
	border-right-color: #6193DD
}

.TD_MonthPicke_MonthList {
	margin: 10px;
	float: left;
}

.TD_MonthPicke_MonthList li {
	float: left;
	width: 25%;
	height: 40px;
	cursor: pointer;
	line-height: 50px;
	text-align: center
}

.TD_MonthPicke_MonthList .TD_MonthPicke_month {
	width: 40px;
	margin: 3px auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	border-radius: 50%
}

.TD_MonthPicke_MonthList .TD_MonthPicke_month.chooes{
	background: #e14441;
	color: #fff
}

.TD_MonthPicke_MonthList .disable {
	color: #CDCFD8;
	background: 0 0;
	cursor: default
}

.TD_MonthPicke_Frame_Operation {
	height: 28px;
	background: #F5F6F8;
	padding: 10px;
	box-sizing: initial;
	text-align: right
}

.TD_MonthPicke_Frame_Operation a {
	display: inline-block;
	width: 58px;
	margin: 0 5px;
	font-size: 12px;
	text-decoration: none;
	height: 26px;
	line-height: 26px;
	text-align: center
}

.TD_MonthPicke_Frame_Operation .TD_MonthPicke_confirm {
	border: 1px solid #5685cc;
	box-shadow: 0 1px 0 #72a7f7 inset;
	background: #5f93e1;
	color: #fff
}

.TD_MonthPicke_Frame_Operation .TD_MonthPicke_cancle {
	border: 1px solid #c7ccd3;
	box-shadow: 0 1px 0 #fff inset;
	color: #333
}

.TD_WeekPicke {
	width: 100%;
	font-size: 12px;
	font-family: Arial;
	background: #fff;
	/*border: 1px solid #ccc;*/
	z-index: 899;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.TD_WeekPicke_header {
	position: relative;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-weight: 700;
	background: #F5F6F8;
	border-bottom: #ccc solid 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.TD_WeekPicke_next,
.TD_WeekPicke_pre {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	text-indent: 9999em;
	position: absolute;
	top: 12px;
	cursor: pointer;
	border: 6px solid transparent
}

.TD_WeekPicke_pre {
	left: 0;
	border-right: #333 solid 6px
}

.TD_WeekPicke_next {
	right: 0;
	border-left: #333 solid 6px
}

.TD_WeekPicke_next:hover {
	border-left-color: #6193DD
}

.TD_WeekPicke_pre:hover {
	border-right-color: #6193DD
}

.TD_WeekPicke_content {
	width: 100%;
	padding: 10px 0;
}

.TD_WeekPicke_content:after {
	display: block;
	clear: both;
	height: 0;
	content: ""
}

.TD_WeekPicke_content li {
	float: left;
	width: 50%;
	text-align: center;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	margin-top: 5px
}

.TD_WeekPicke_content li em,
.TD_WeekPicke_content li span {
	display: inline-block
}

.TD_WeekPicke_content li em {
	margin-left: 10px
}

.TD_WeekPicke_content li:hover {
	background: #eee
}

.TD_WeekPicke_content li.choose {
	color: #6193DE
}

.TD_WeekPicke_content li.disable {
	color: #ddd;
	cursor: default
}

.TD_WeekPicke_content li.disable:hover {
	background: no-repeat
}

.TD_WeekPicke_operation {
	height: 28px;
	background: #F5F6F8;
	padding: 10px;
	box-sizing: initial;
	text-align: right
}

.TD_WeekPicke_operation a {
	display: inline-block;
	width: 58px;
	margin: 0 5px;
	font-size: 12px;
	text-decoration: none;
	height: 26px;
	line-height: 26px;
	text-align: center
}

.TD_WeekPicke_operation .TD_WeekPicke_Confirm {
	border: 1px solid #5685cc;
	box-shadow: 0 1px 0 #72a7f7 inset;
	background: #5f93e1;
	color: #fff
}

.TD_WeekPicke_operation .TD_WeekPicke_cancle {
	border: 1px solid #c7ccd3;
	box-shadow: 0 1px 0 #fff inset;
}

.DatePicke_contarst a[data-name="custom"],.DatePicke_contarst a[data-name="preYear"],.DatePicke_tool_bar a[data-name="day"],.DatePicke_tool_bar a[data-name="month"]{
	display: none;
}
.start_end{
	background: #679fef !important;
	border-radius: 3px;
	color: #fff;
}
.form-actions {
	clear: both;
}
.form-actions span {
	display: block;zoom:1;
	overflow: hidden;
}
.form-actions span font {
	display: block;
	zoom: 1;
	overflow: hidden;
	background: #F7F9FB;
}
.form-actions span font a.confirm {
	background: url(../images/button_confirm_blue.png) no-repeat;
	color: #fff;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 69px;
	margin: 0;
}
.form-actions span font a:hover.confirm {
	background: url(../images/button_confirm_blue_hover.png) no-repeat;
}
.form-actions span font a.cancelFilter {
	background: url(../images/button_cancel.png) no-repeat;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 69px;
	margin: 0

}
.form-actions span font a:hover.cancelFilter {
	background: url(../images/button_cancel_hover.png) no-repeat;
}
.calendarFormwidth >div.TD_Calendar{
	width: 50%;
}
.calendarFormwidth >div.TD_Calendar:nth-child(1){
	border-right: 0;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.calendarFormwidth >div.TD_Calendar:nth-child(2){
	border-left: 0;
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}