<div class="modal in" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" style="display: block;">
	<div class="modal-dialog " role="document">
		<div class="modal-content">
			<div class="modal-header" ng-drag-dialog="true">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="$hide()">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">账户管理</h4>
			</div>
			<div class="modal-body" style="color: #333;">
				<form class="form-horizontal clrfix mb-15" name="formHorizontal">
					<div class="control-group">
				        <label class="control-label">登录邮箱:</label>
				        <div class="controls">
				        	<div>{{accountEmail}}</div>
				        </div>
				    </div>
				
    				<div class="control-group" style="margin-top:10px;">
				        <label class="control-label"><span class="required">*</span>原始密码:</label>
				        <div class="controls">
				        	<input ng-keyup="checkOldPasswordValid();" placeholder="输入原始密码(6~32位)" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':(!formHorizontal.oldPassword.$valid && formHorizontal.oldPassword.$dirty) || isOldPasswordError}" class="form-control" type="password"  ng-model="changeUser.oldPassword" name="oldPassword" required/>
				        	<div class="form-error-msg" ng-show="!formHorizontal.oldPassword.$valid && formHorizontal.oldPassword.$dirty">密码长度为6~32个字符</div>
				        	<div class="form-error-msg" ng-show="!(!formHorizontal.oldPassword.$valid && formHorizontal.oldPassword.$dirty) && isOldPasswordError">{{oldPasswordErrorText}}</div>
				        </div>
				    </div>
				    <div class="control-group">
				        <label class="control-label"><span class="required">*</span>新&nbsp;密&nbsp;码:</label>
				        <div class="controls">
				        	<input ng-keyup="checkNewPasswordValid();" placeholder="输入新密码(6~32位)" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':(!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty) || newPasswordIsSame || isNewPasswordOtherError}" class="form-control"  ng-model="changeUser.newPassword"  type="password" name="newPassword" required>
				        	<div class="form-error-msg" ng-show="!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty">密码长度为6~32个字符</div>
				        	<div class="form-error-msg" ng-show="!(!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty) && newPasswordIsSame">新密码不能与原始密码相同</div>
				        	<div class="form-error-msg" ng-show="!(!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty) && !newPasswordIsSame && isNewPasswordOtherError">{{newPasswordOtherErrorText}}</div>
				        </div>
				    </div>
				    <div class="control-group">
				        <label class="control-label"><span class="required">*</span>确认密码:</label>
				        <div class="controls">
				        	<input ng-keyup="checkRepasswordValid();" placeholder="确认新密码(6~32位)" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':repasswordIsError || (!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty) || isOtherError}" class="form-control"  ng-model="changeUser.repassword"  type="password" name="repassword" required>
				        	<div class="form-error-msg" ng-show="!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty">密码长度为6~32个字符</div>
				        	<div class="form-error-msg" ng-show="!(!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty) && repasswordIsError">两次密码不一致</div>
				        	<div class="form-error-msg" ng-show="!(!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty) && !repasswordIsError && isOtherError">{{otherErrorText}}</div>
				        </div>
				    </div>
				   </form>
		</div>
			<div class="modal-footer">
				<div class="button btn-primary" ng-click="updatePassword($hide,formHorizontal);">保存</div>
				<div class="button btn-default" ng-click="$hide();">取消</div>
			</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
</div>
