<div class="modal in" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog modal-dialog-wd1200" role="document">
		<div class="modal-content">
			<div class="modal-header" ng-drag-dialog="true">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="$hide()">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title ta-l" style="color:#333;">查看日志</h4>
			</div>
			<div class="modal-body" style="overflow:auto;width:100%;height:400px;">
				<div class="iframe-box" style="height:400px;">
					<iframe id="childrenIframe" height="100%" width="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="{{iframe.src | trusted}}"></iframe>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="button btn-primary" ng-click="$hide();">关闭</button>
				<!-- <button type="button" class="button btn-primary" ng-click="$hide();">确定</button>
				<button type="button" class="button btn-default" ng-click="$hide();">关闭</button> -->
			</div>

		</div>
		
	</div>
	
</div> 