<div class="popover timetxt" style="width: 480px;max-width: 480px; right: -5px; display: block; background: #FFF;" ng-click="clearQuickData()">
	<div class="pd-20">
		<div style="border: 1px solid #ccd4e6;">
			<div class="brdediv">
				<font class="l">最多可选<font>5</font>个渠道</font> <font ng-show="validation" style="color: red" class="ng-hide">最多可选5个渠道</font>
				<div class="clear"></div>
			</div>
			<div class="pd-20" style="display: block; padding-top: 0px;">
				<div class="search-operate">
					<span>
						<input type="text" ng-model="quickVersionSearchVal" placeholder="渠道" onfocus="placeholder=''" onblur="placeholder='渠道'"  class="input-search ng-pristine ng-untouched ng-valid" ng-keyup="quickSearch(quickVersionSearchVal,'partner');"><img src="images/icon-search.png">
						<ul ng-show="partnerSearching">
							<li ng-repeat="partner in partnerQuick" ng-click="seletedItem(partners,'key',partner.key);">
								{{partner.value}}
							</li>
						</ul>
					</span>
					<a href="" ng-click="clearAll('partner');" class="r">不对比</a> 
					<div class="clear"></div>
				</div>
				<div class="Sievexx">
					<a href=""  ng-repeat="partner in partners" ng-click="seletedItem(partners,'key',partner.key)" ng-class="{border:partner.selected}">
	 					<img ng-src="images/{{partner.logoName}}.png" style="vertical-align:middle;height: 20px;line-height: 22px;margin-top: -2px;"> 
						<span title="{{partner.value}}">{{partner.value |DateStrSubstring}}</span>
					</a>		
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions">
		<span>
			<font>
	       		<a href="" ng-click="cancel();$hide();" class="cancelFilter Sievecolse r">取消</a> 
	            <a href="" ng-click="saveFilterBox($hide);" class="confirm Sievecolse r">确定</a>
           	</font>
		</span>
	</div>
</div>