<div class="popover timetxt" style="width: 480px;max-width: 480px; right: -5px; display: block; background: #FFF;" ng-click="clearQuickData()">
	<div class="pd-20">
		<div style="border: 1px solid #ccd4e6;">
			<div class="brdediv">
				<font class="l">最多可选<font>5</font>个版本</font> <font ng-show="validation" style="color: red" class="ng-hide">最多可选5个版本</font>
				<div class="clear"></div>
			</div>
			<div class="pd-20" style="display: block;padding-top: 0px;">
				<div class="search-operate">
					<span>
						<input type="text" ng-model="quickVersionSearchVal" placeholder="版本" onfocus="placeholder=''" onblur="placeholder='版本'"  class="input-search ng-pristine ng-untouched ng-valid" ng-keyup="quickSearch(quickVersionSearchVal,'version');"><img src="images/icon-search.png">
						<ul ng-show="versionSearching">
							<li ng-repeat="version in versionQuick" ng-click="seletedItem(versions,'key',version.key);" >
								{{version.value}}
							</li>
						</ul>
					</span>
					<a href="" ng-click="clearAll('version');" class="r">不对比</a> 
					<div class="clear"></div>
				</div>
				<div class="Sievexx">
					<a href=""  ng-repeat="version in versions" ng-click="seletedItem(versions,'key',version.key)" ng-class="{border:version.selected}"><span title="{{version.value}}">
						<img ng-src="images/{{version.logoName}}.png" style="vertical-align:middle;height: 20px;line-height: 22px;margin-top: -2px;"></img>&nbsp;{{version.value}}</span>
					</a>	
				</div>
			</div>
		</div>
	</div>
	<div class="form-actions">
		<span>
			<font>
	       		<a href="" ng-click="cancel();$hide();" class="cancelFilter Sievecolse r">取消</a> 
	            <a href="" ng-click="saveFilterBox($hide);" class="confirm Sievecolse r">确定</a>
           	</font>
		</span>
	</div>
</div>