<span style="cursor: pointer;padding-right: 10px;" class="time fr" data-content="1" data-template="js/app/directive/template/filterTemplate.html" 
	placement="bottom-right"  data-animation="am-flip-x" data-auto-close="1" bs-popover>
	<span class="timenews">
		<div>
			<img ng-src="images/funnel.png"/>
			<font id="start"></font>
			<font id="middle" style="margin:0 5px;">筛选</font>
			<font id="end"></font>
			<i class="glyphicon glyphicon-chevron-down ml-10" style="margin-top:-5px;"></i>
		</div>
	</span>
</span>
