<div class="td-select bs1 br-4" style="height: 27px;background: #FFF;"onclick="formatHeight();">
   	<img ng-src="images/{{img |eventImgFilter}}.png" style="vertical-align:left;left: 5px;margin-top: 2px;" ng-if="img &&img!='' && img==1"></img>
   	<input type="text" readonly="readonly" ng-class="{'pl-25':img==1}" style="height: 24px;border: 0;padding: 0;padding-left: 5px;" ng-model="val" class="tdSelect input-search br-4" ng-click="showSearching();" placeholder="请选择事件">
   	<i class="glyphicon glyphicon-chevron-down mr-10" ng-click="showSearching();"></i>
	<div style="display:none;background: #fff;border: 1px solid #dedede;padding-bottom: 10px;" align="center" class="p-rel">
		<input type="text" ng-model="sercheventname" placeholder="输入事件名" style="height: 28px;border-radius: 20px;padding:0 8px; background-color: white !important;margin-top: 5px;" ng-change="onChange(sercheventname);" class="bs1 br-4">
		<i class="glyphicon glyphicon-search p-abs" style="right: 26px;top: 13px;background: #FFF;" ng-click="onChange(sercheventname);"></i>
	</div>
	<ul class="searchPane mt-imp-40" style="display:none;">
		<li ng-repeat="opt in options" title="{{opt.value}}" ng-click="seletedItem(opt.key,opt.value,opt);"><img title="{{opt.img |eventTitleFilter}}" ng-src="images/{{opt.img |eventImgFilter}}.png" style="vertical-align:middle;top:-2px;" ng-if="opt.img == 1"></img> {{opt.value|DateStrSubstringmin10}}</li>
	</ul>
</div>