<span class="td-select">
   	<input type="text" style="width: 172px;" readonly="readonly" ng-model="val" class="tdSelect input-search" ng-blur="onBlur();" ng-click="showSearching();" ng-change="onChange(val);">
  	<i ng-click="showSearching();" class="glyphicon glyphicon-chevron-down" style="margin:0;margin-right: 20px;"></i>
	<div style="display:none;background: #fff;width: 208px;height:40px;z-index: 999;border: 1px solid #dedede;padding-bottom: 5px;" align="center" class="p-abs">
		<input type="text" ng-model="sercheventname" placeholder="{{searchName}}" style="border: 1px solid #ccc;height: 24px;border-radius: 20px;padding:0 8px; background-color: white !important;margin-top: 6px;" ng-change="onChange(sercheventname);">
		<i class="glyphicon glyphicon-search p-abs" style="right: 28px;top: 12px;background: #FFF;" ng-click="onChange(sercheventname);"></i>
	</div>
	<ul style="display:none;"class="searchPane mt-i40">
		<li ng-repeat="opt in options" title="{{opt.value}}" ng-click="seletedItem(opt.key,opt.value,opt);">{{opt.value|DateStrSubstringmin15}}</li>
	</ul>
</span>