@font-face {
    font-family: 'icomoon';
    src:    url('/enterprise/css/app/fonts/icomoon.eot?782p6h');
    src:    url('/enterprise/css/app/fonts/icomoon.eot?782p6h#iefix') format('embedded-opentype'),
        url('/enterprise/css/app/fonts/icomoon.ttf?782p6h') format('truetype'),
        url('/enterprise/css/app/fonts/icomoon.woff?782p6h') format('woff'),
        url('/enterprise/css/app/fonts/icomoon.svg?782p6h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product-page .icon-period:before {
    content: "\e90b";
}
.product-page .icon-account:before {
    content: "\e900";
}
.product-page .icon-product-report:before {
    content: "\e901";
}
.product-page .icon-data:before {
    content: "\e902";
}
.product-page .icon-product-wreport:before {
    content: "\e903";
}
.product-page .icon-product-screen:before {
    content: "\e904";
}
.product-page .icon-product-push:before {
    content: "\e905";
}
.product-page .icon-product-visualization:before {
    content: "\e907";
}
.product-page .icon-product-datacloud:before {
    content: "\e902";
}

.product-page .icon-shuxuan:before {
    content: "\e907";
}
.product-page .icon-product-DMP:before {
    content: "\e908";
}
.product-page .icon-logo-DMP:before {
    content: "\e909";
}
.product-page .icon-logo-TD:before {
    content: "\e90a";
}


/*产品icon*/
.product-page .icon-product-tenant:before {
    content: "\e907";
}

