<div id="mask"></div>
<div id="adminAddUserContainer2">
    <ul>
        <form id="adminAddUserContainer">
            <li>账户添加</li>
            <li><label>邮箱 *</label><input type="text" name='email' id="adminAddUserIp1" value=""><span id='addUserEmail'></span></li>
            <li><label>公司名称 *</label><input type="text" name='compName' id="adminAddUserIp2" value=""><span></span></li>
            <li><label>部门名称 *</label><input type="text" name='department' id="adminAddUserIp6" value=""><span ></span></li>
            <li><label>产品名称 *</label><input type="text" name='production' id="adminAddUserIp7" value=""><span></span></li>
            <li><label>联系人 *</label><input type="text" name='contacts' id="adminAddUserIp3" value=""><span></span></li>
            <li><label>手机号 *</label><input type="text" name='tel' id="adminAddUserIp4" value=""><span id='addUserTel'></span></li>
            <li><label>qq号</label><input type="text" name='qq' id="adminAddUserIp5" value=""><span id='addUserQq'></span></li>
            <div class='adminAddChoose'>
                <li id='addUserConfirm'>确定</li>
                <li id='addUserCancel'>取消</li>
            </div>
        </form>
    </ul>
</div>




