{{each renderData as value}} 
<ul>
    <li>{{value.orderNum}}</li>
    <li class="tips-box">
        <div class="txtsis" style="width:80%">{{ value.name }}</div>
        <div class="tips-corner"></div>
        <div class="tips-content">{{ value.name }}</div>
    </li>
 
    <li>
        {{each value.types as item}}
        {{ item.type }}
        {{/each }}
    </li>

    <li title="{{ value.ownerName }}">{{ value.ownerName }}</li>
    <!--<li>{{ value.status }}</li>-->
    {{if value.status == "1"}}
    <li><i class="ok"></i>已发布</li>
    {{/if}}
    {{if value.status == "2"}}
    <li><i class="orange"></i>调试中</li>
    {{/if}}
    {{if value.status == "3"}}
    <li><i class="gray"></i>下线</li>
    {{/if}}
    {{if value.status == "4"}}
    <li><i class="blue"></i>未发布</li>
    {{/if}}

    <li>{{ timeStamp(value.createDate)}}</li>

    {{if value.status == "1"}}
        <li>{{ timeStamp(value.onsellDate)}}</li>
    {{else}}
         <li> -- </li>
    {{/if}}   


    <li>{{ value.sumAccount }}/{{value.sumAccessRequest}}</li>
    <li>{{value.sumSuccessRequest}}/{{ value.sumRequestsArrearage }}</li>

    <li>
        <a href="#/usersearch/{{value.serviceId}}/{{encode(value.name)}}">用户查询</a>
        <a href="#/detail/{{value.serviceId}}">服务详情</a>

        {{if value.status == '3'}}
        <a href="#/add/{{value.serviceId}}" style="pointer-events:none"> - - </a>
        {{else}}
        <a href="#/add/{{value.serviceId}}">编辑</a>
        {{/if}}

        {{if value.status == "1"}}
        <a class="offStore">下线</a>
        {{else if value.status == "3"}}
        <a style="pointer-events:none"> - - </a>
        {{else}}
        <a class="onStore">发布</a>
        {{/if}}


    </li>
</ul>
{{/each}}
