<div class="statis statis-common">
    <h2>数据统计</h2>
</div>
<div class="statis-content statis-common clearfix">
    <div class="statis-data">
        <h3>{{header.sumRequests}}</h3>
        <!--<h3 class='statis-data-access-request'></h3>-->
        <p>授权次数</p>
    </div>
    <div class="statis-data">
        <h3>{{ header.sumSuccessRequest }}</h3>
        <p>汇总成功次数</p>
    </div>
    <div class="statis-data">
        <!--<h3 class='statis-data-requests-rest'></h3>-->
        <h3>{{header.sumRequests - header.sumValidRequest}}</h3>
        <p>剩余次数</p>
    </div>
    <div class="statis-data">
        <!--<h3 class='statis-data-success-request'></h3>-->
        <h3>{{header.sumValidRequest}}</h3>
        <p>有效次数</p>
    </div>
</div>
<div class="statis statis-common clearfix" id="authHead">
    <h2 class="left">数据调用详单</h2>
    <h2 class="right"><a id="editAuth">服务授权</a></h2>
</div>
<div class="statis-table clearfix">
    <div class="account-fixed clearfix">
        <div class="statis-table-account">
            <ul class="statis-table-head table-data">
                <li>序号</li>
                <li>服务名称</li>
                <li>是否超限</li>
                <li>开通时间</li>
                <li>有效时间</li>
                <li>授权次数</li>
                <li>授权记录数</li>
                <li>剩余次数</li>
                <li>剩余记录数</li>
                <li>调用次数</li>
                <li>有效次数</li>
                <li>输入记录数</li>
                <li>输出记录数</li>
            </ul>
            <div id="AccountPageRenderHtml">
                {{each table.renderData as value i }}
                <ul class="statis-table-list table-data">
                    <li>{{ value.orderNum }}</li>
                    <li class="txtsis" title="{{ value.name }}">{{ value.name }}</li>
                    {{ if value.access_allow == true }}
                    <li>否</li>
                    {{else}}
                    <li>是</li>
                    {{/if}}


                    <li>{{ timeStamp(value.createtime) }}</li>

                    {{ if value.timeallow == -1 }}
                    <li>不限制</li>
                    {{/if}}
                    {{ if value.timeallow == -2 }}
                    <li>不指定</li>
                    {{/if}}
                    {{ if value.timeallow != -1 && value.timeallow != -2 }}
                    <li>{{timeStamp(value.timeallow)}}</li>
                    {{/if}}


                    <!--<li>{{ value.requests }}</li>-->
                    <!--<li>{{ value.records }}</li>-->
                    <!--<li>{{ value.requests_rest }}</li>-->
                    <!--<li>{{ value.records_rest }}</li>-->


                    {{if value.requests>=0}}
                    <li title='{{value.requests}}'>{{ value.requests }}</li>
                    {{else}}
                    <li>不限制</li>
                    {{/if}}


                    {{if value.records>= 0}}
                    <li title='{{ value.records }}'>{{ value.records }}</li>
                    {{else}}
                    <li>不限制</li>
                    {{/if}}


                    {{if value.requests_rest>= 0}}
                    <li title='{{ value.requests_rest }}'>{{ value.requests_rest }}</li>
                    {{else}}
                    <li>不限制</li>
                    {{/if}}


                    {{if value.records_rest>= 0}}
                    <li>{{ value.records_rest }}</li>
                    {{else}}
                    <li>不限制</li>
                    {{/if}}




                    <li title='{{value.accessRequest}}'>{{ value.accessRequest }}</li>
                    {{if value.validRequest}}
                    <li title='{{value.validRequest}}'>{{ value.validRequest }}</li>
                    {{else}}
                    <li title='{{value.validRequest}}'>--</li>
                    {{/if}}

                    <li title='{{value.inputCount}}'>{{ value.inputCount }}</li>
                    <li title='{{value.oututCount}}'>{{ value.oututCount }}</li>
                </ul>
                {{/each}}
            </div>
        </div>
        <div class="account-fixed-set">
            <div class="last-setting">操作</div>
            <div id="AccountPageLook">
                {{each table.renderData as value i }}
                <a class="last-setting-a"
                   href="#/servicedetail/{{accountInfo.accountId+'_'+value.serviceid}}/{{encode(value.name)}}">查看详情</a>
                <span class='account-service-edit'>编辑</span>
                {{/each}}

            </div>
        </div>
    </div>
</div>
<div class="td-ui-page" id="AccountPagesCountDetail">
</div>
